<h1>Users#index</h1>
<h2>Users</h2>
<%= render 'users/list', user: current_user %>
<p>image     name</p>
<% @users.each do |user| %>
<div>
  <%= image_tag user.get_profile_image %>

  <p><%= user.name%></p>
  <%= link_to "Show", user_path(user.id)  %>
</div>
<% end %>