<h1>Users#show</h1>

<h2>Books</h2>
<p>Title      Opinion</p>

<% @books.each do |book| %>
<div>
  <%= image_tag book.user.get_profile_image %>
  <%= link_to book_path(book.id) do %>
  <p><%= book.title %></p>
  <%end%>

  <p><%= book.body %></p>

</div>
<% end %>